.col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1
	- current_user.feed.each do |picture|
		.picture-show
			.panel.panel-default
				.panel-heading.clearfix
					.pull-left
						= link_to picture.user.username, picture.user
					.pull-right
						= time_ago_in_words picture.created_at
				= image_tag picture.image.url, class: 'image'
				.panel-body
					%p= picture.caption
				.panel-footer{id: "picture-stats-#{picture.id}"}
					- if current_user.voted_for? picture
						= render 'pictures/unlike_button', picture: picture
					- else
						= render 'pictures/like_button', picture: picture