.col-md-8.col-md-offset-2
	.picture-show
		.panel.panel-default
			.panel-heading.clearfix
				.pull-left
					- @user = @picture.user
					- if @user.id == current_user.id
						= @user.username
					- else
						= link_to @user.username, @user
				.pull-right
					= time_ago_in_words @picture.created_at
			= image_tag @picture.image.url, class: 'image'
			.panel-body
				%p= @picture.caption
			- if @picture.comments.any?
				= render 'comments/index', comments: @picture.comments
			.panel-footer
				= render 'comments/new', picture: @picture
			- if @user.id == current_user.id
				.panel-footer
					= link_to 'Edit', edit_picture_path(@picture)
